.container{
    padding: 0 4rem;
}

.text-center{
    text-align: center;
}

.heading{
    padding: 1rem;
    background: $grey;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    margin: 0 0 2rem;
}